<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="userMacSet">
          <set>
            <option value="54-E1-AD-50-B6-8B" />
            <option value="88-B1-11-EB-BF-C2" />
          </set>
        </option>
      </Profile>
    </option>
  </component>
</application>